include setup.*
include COPYING
include CHANGELOG.md
include README.md
include pyproject.toml

# exclude Cargo.toml
# exclude Cargo.lock

recursive-include nafcodec      *.rs Cargo.toml README.md
recursive-include nafcodec-py   *.rs Cargo.toml README.md *.py

include nafcodec-py/nafcodec/tests/data/*.naf
exclude nafcodec-py/nafcodec/tests/data/*.fna
exclude nafcodec-py/nafcodec/tests/data/*.faa
exclude nafcodec-py/nafcodec/tests/data/*.fastq

include .cargo/config.toml
recursive-include crates *
